{{ define "main" }}
  <div role="main" class="container-home">
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $pag.Pages }}
          <a href="{{ .Permalink }}">
            <article  style="background-image:url({{ .Params.image }});" class="post-preview-home">
               <div class="container">
                <h2 id="post-title-home" class="post-title-home">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle-home">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}     
              

              {{ partial "post_meta.html" . }}

              <div class="post-entry-home">
                {{ if .Truncated }}
                <a href="{{ .Permalink }}" class="post-read-more-home">{{ .Params.summary }}</a>
                  <a href="{{ .Permalink }}" class="post-read-more-home">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Params.summary }}
                {{ end }}

              </div>
              </div>
            </article>
          </a>
          {{ end }}

                  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
          
        </div>
      </div>

{{ end }}
